<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Current</title>
</head>
<body class="body_current">
{% extends "todo/base.html" %}
{% block content %}
<h2 class="title_current">Your current todos:</h2>
{% if todos %}
    <ul class="current-list-block">
        {% for todo in todos %}
        <li>
            <a href='{% url "viewtodo" todo.id %}' class="element_list">
            {% if todo.important %}<b>{% endif %}{{ todo.title }}{% if todo.important %}</b>{% endif %}
            {% if todo.memo|striptags|truncatechars:70 %} — {{ todo.memo|striptags|truncatechars:70 }}{% endif %}
            </a>
        </li>
        {% endfor %}
</ul>
{% else %}
<p class="current-list-block empty">You don't have todos yet</p>
{% endif %}
<a href="{% url "createtodos" %}"><button class="btn-create">Create new!</button></a>
{% endblock %}
</body>
</html>