<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Now I will explain to you</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

</head>
<body>
<h1>This is password generator</h1>
<h2>For what is it?</h2>
<p>Unfortunately, there are a lot of rogues in this world. So we need to save our own information qualitatively</p>
<p>This program can generate a good password for you</p>
<p>It will be better if you'll write your password somewhere to not forget</p>
<h4>Have a good day, my friend!</h4>
<br>
<br>
<br>
<br>
<p>Made by Anastasiia Smirnova</p>
</body>
</html>